# Python virtual environment
python_testing/venv/
.env
/.idea/.gitignore
/.idea/distcode_worker.iml
/.idea/go.imports.xml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.idea/vcs.xml
.idea/runConfigurations/go_build_main_go.xml
