name: Go Test

on:
  pull_request:
    branches: []

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.24-dind
        
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Build
        run: go build -v ./...

      - name: Test unit and integration
        env:
          DOCKER_HOST: tcp://localhost:2375
        run: |
          docker info
          go test -tags=integration -v ./...
